#root {
  max-width: 1280px;
  text-align: center;
}

.area {
  position: relative;
  width: 100vw;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  /* margin-top: 50vh; */
  margin-top: calc(50vh - 30px);
  /* background-color: white; */
  overflow: hidden;
  // background-image: url('./assets/enso.jpg');
  // background-size: 100%;
  z-index: 10;
  .title {
    position: absolute;
    left: 30px;
    padding: 20px;
    font-size: 20px;
  }
}
.background {
  z-index: 100;
  img {
    position: fixed;
    top: 0;
    right: -20vw;
    height: 100%;
    opacity: 1;
  }
}

.content {
  position: relative;
  width: 100vw;
  height: calc(300vh - 180px);
  .side-menu {
    position: fixed;
    top: 70px;
    width: 100px;
    height: calc(100vh - 70px);
    text-align: left;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    ul {
      list-style-type: none;
      li {
        padding: 10px;
        a {
          color: black;
        }
      }
    }
    p {
      position: absolute;
      left: 50px;
      bottom: 10px;
    }
  }
  .is-visible {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
  }
  .content-body {
    position: absolute;
    left: 100px;
  }
}

.unit-1 {
  .section {
    position: sticky;
    /* height: 100vh; */
    &:nth-of-type(1) {
      top: 70px;
      height: calc(100vh - 70px);
    }
    &:nth-of-type(2) {
      top: 260px;
      height: calc(100vh - 260px);
    }
    &:nth-of-type(3) {
      top: 450px;
      height: calc(100vh - 450px);
    }
  }
}
.unit-2 {
  height: 100%;
  display: flex;
  flex-direction: row;
  .section {
    position: sticky;
    // border: 1px solid black;
    /* height: 100vh; */
    &:nth-of-type(1) {
      top: 70px;
      height: calc(100vh - 70px);
    }
    &:nth-of-type(2) {
      top: 260px;
      height: calc(100vh - 260px);
    }
    &:nth-of-type(3) {
      top: 450px;
      height: calc(100vh - 450px);
    }
  }
}

/* .section:nth-of-type(4) {
  top: 350px;
} */

.section .theme {
  font-weight: bold;
}
.section .text {
  margin: 0 auto;
  width: 80%;
  text-align: left;
}